:root {
    --primary-background-color: #3d3b49;
    --general-text-color: #dbdad5;
    --text-font-family: "Poppins", sans-serif;
    --general-text-font-size: 1.3em;
    --non-general-text-font-size: 1em;
    --main-heading-font-size: 2.5em;
    --secondary-heading-font-size: 2.2em;
    --third-heading-font-size: 1.6em;
    --summary-text-color: #3d3b49;
    --details-text-color: #3d3b49;
    --details-background-color: #efedfc;
    --accent-color: color-mix(in srgb, rgb(157, 132, 226) 90%, black 10%);
}

[data-theme="dark"] {
    --primary-background-color: antiquewhite;
    --general-text-color: #3d3b49;
    --accent-color: color-mix(in srgb, rgb(77, 29, 207) 90%, black 10%);
}

body {
    background-color: var(--primary-background-color, White);
    color: var(--general-text-color, black);
    font-family: var(--text-font-family, Arial);
    padding-top: 5em;
}

hr {
    display: none;
}

h2, #hello-statement {
    font-size: var(--secondary-heading-font-size, 2.2em);
}

#hello-statement {
    color: var(--accent-color, #3d3b49);
}

h3 {
    font-size: var(--third-heading-font-size, 1.6em);
}

/* Styling #hi */

#hi {
    display: flex;
    justify-content: space-around;
    font-size: var(--general-text-font-size, 1.3em);
    margin: 2em;
    margin-bottom: 2.5em;
}

#hi img {
    flex-shrink: 0;
    border-radius: 3em;
    align-self: flex-start;
    width: 20%;
}

#hi div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Styling #education */

#education {
    display: flex;
    margin: 2em;
    justify-content: space-between;
}

#education-left {
    margin-right: 0;
}

#education-container {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    overflow-x: hidden;
}

#courses-container {
    display: flex;
    flex-direction: row;
    gap: 1em;
    margin-top: 1em;
}

.course-box {
    border: 0.2em solid #ccc;
    padding: 1em;
}

#education img {
    max-width: 90%;
    width: 100%;
    height: auto;
    border-radius: 0.5em;
    margin-left: 7em;
    margin-top: 5em;
    place-content: center;
    border: 5px solid var(--accent-color, #3d3b49);
}

/** Styling #FAQ **/

#FAQ {
    max-width: 45em;
    margin: 2em auto;
}

#FAQ h2 {
    text-align: center;
    margin-bottom: 1em;
}

#FAQ ul {
    list-style-type: none;
    padding: 0;
}

details {
    border: 0.1em solid #ccc;
    border-radius: 0.5em;
    padding: 1em;
    margin-bottom: 1em;
    background-color: #f9f9f9;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    color: var(--details-text-color, black);
}

details[open] {
    background-color: var(--details-background-color, White); /* Light blue when expanded */
}

summary {
    font-size: var(--general-text-font-size, 1.3em);
    font-weight: bold;
    cursor: pointer;
    color: var(--summary-text-color, black);
}

summary::marker {
    color: var(--accent-color, black);
}

details p {
    margin-top: 0.5em;
    font-size: var(--non-general-text-font-size, 1em);
}

/* Styling Images */
img {
    opacity: 0;
    animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

@media (max-width: 1000px) {
    #hi {
        flex-wrap: wrap;
    }

    #education img {
        margin-left: 0;
        margin-top: 2em;
        border: 5px solid color-mix(in srgb, rgb(157, 132, 226) 90%, black 10%);
    }

    #education-container {
        flex-direction: column;
    }

    #education {
        flex-direction: column;
    }

    #courses-container {
        flex-direction: column;
    }
}

@media (max-width: 500px) {
    #hi {
        flex-wrap: wrap;
        align-items: center;
    }

    #hi img {
        width: 50%;
        left: 50%;
        right: 50%;
    }

    #hello-statement {
        font-size: 1.5em;
    }

    #education img {
        margin-left: 0;
        margin-top: 2em;
    }

    #education-container {
        flex-direction: column;
    }

    #education {
        flex-direction: column;
    }


    #courses-container {
        flex-direction: column;
    }
}